html {
    font-family: 'Source Sans 3';
    color: var(--dark);
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.link {
    color: inherit;
}
.link_underline {
    text-decoration: underline !important;
}