.header {
}

.header .container {
}

.header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-block:not(:last-child) {
    padding: 32px 0;
    border-bottom: 1px solid var(--accent);
}
.header-block:nth-child(2) {
    padding: 16px 0;
}
.header .logo {
}

.header .contacts {
    display: flex;
    gap: 40px;
}
.header .contacts .block:nth-child(2) {
    min-width: 162px;
}
.contacts .link {
    font-size: 20px;
    font-weight: 700;
}

.header .block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.header .para {
    font-size: 14px;
}
.header .link {
}
.header .menu {
    display: flex;
    width: 30px;
}
.header .menu path {
    fill: var(--accent);
}
.header .nav {
    display: flex;
    align-items: center;

    width: 100%;

    gap: 44px;
}
.nav .link {
    line-height: 19px;
    color: inherit;
}
.header .icon {
    display: flex;
    width: 16px;
    height: 16px;
}

.header-block:nth-child(2) .link_contact {
    justify-content: space-between;
}
.header .link_contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    min-width: 162px;

    gap: 4px;
}
.header-block:nth-child(2) .link_contact {
    text-transform: uppercase;
}