@import url('../css/sections/hero.css');

.main {
    padding: 80px 0;
}

section:first-child {
    padding-top: 0;
}
section:not(:last-child) {
    padding: 40px 0;
}
section:last-child {
    padding-bottom: 0;
}