@import url('../css/sections/hero.css');
@import url('../css/sections/about.css');
@import url('../css/sections/productions.css');
@import url('../css/sections/department.css');

.main {
    padding: 80px 0;
}

section:first-child {
    padding-top: 0;
}
section {
    padding: 40px 0;
}
section:last-child {
    padding-bottom: 0;
}

.section-block > *:not(:last-child) {
    margin-bottom: 32px;
}