@media (max-width: 1280px) {
    .news .item {
        flex: 1 1 31%;
    }
    .news .description {
        gap: 60px;
    }
}

@media (max-width: 1024px) {
    .production .item-name {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 480px) {
    .news .description {
        gap: 40px;
        padding: 16px;
    }
}

@media (max-width: 320px) {
    
}