.production {
}

.production .container {
}

.production-block {
}
.section-block {
}

.production .title-block {
}
.production .title {
}
.production .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    row-gap: 25px;
    column-gap: 20px;
}
.production .item {
    flex: 0 1 32%;

    display: flex;
    flex-direction: column;
    
    gap: 107px;

    min-height: 435px;

    padding: 32px 24px;
    background-color: var(--light-gray);
}
.production .image {
    max-width: 200px;
    max-height: 194px;
}
.production .image img {
    object-fit: contain;
}
.production .text-block {
}
.production .text-block > *:not(:last-child) {
    margin-bottom: 12px;
}
.production .item-name {
    font-size: 28px;
    font-weight: 700;
}
.production .link {
    display: flex;
    align-items: center;

    gap: 8px;
}
.production .icon {
}